.footer{
    background: #333;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.social-media{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
}
.social-media a{
    padding: 10px;
    font-size: 1.7em;
    color: #333;
    margin-left: 30px;
    border-radius: 5px;
    background: #f1f1f1;
    transition: .2s linear;
    box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070
}
.social-media a:nth-child(1){
   color: #1572b6; 
}
.social-media a:nth-child(2){
   color: #0e76a8  
}
.social-media a:nth-child(3){
    color: #1DA1F2;   
}
.social-media a:nth-child(4){
   color: #333333 
}

.social-media a:hover{
    transform: scale(1.3);
}